{% include "header.html" %}
<h1>Change Password</h1>

{% if session["user"] is defined %}
<form action="userchangepassword" method="post">
  <p>Current Email: {{ session["user"]["username"] }}</p>
  <p>Old password:</p>
  <input type="password" name="pwd" value="" />
  <p>new password:</p>
  <input type="password" name="pwdnew" value="" />
  <p>retype new password:</p>
  <input type="password" name="pwdnewre" value="" />
  <br />
  <input type="submit" name="stype" value="Update" class="btn btn-primary" />
</form>
{% endif %} {% include "footer.html" %}
